## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load CSV Dataset

### Test Data

#### Import Train CSV

In [2]:
train_data = pd.read_csv('datasets/house_price_dataset/train.csv')
train_data.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0

#### Drop Categorical Columns

In [3]:
train_data.drop(['size_units', 'lot_size_units'], axis=1, inplace=True)

In [4]:
train_data.tail()

      beds  baths    size  lot_size  zip_code      price
2011     3    2.0  1370.0       0.5     98112   910000.0
2012     1    1.0   889.0       NaN     98121   550000.0
2013     4    2.0  2140.0    6250.0     98199  1150000.0
2014     2    2.0   795.0       NaN     98103   590000.0
2015     3    2.0  1710.0    4267.0     98133   659000.0

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   beds      2016 non-null   int64
 1   baths     2016 non-null   float64
 2   size      2016 non-null   float64
 3   lot_size  1669 non-null   float64
 4   zip_code  2016 non-null   int64
 5   price     2016 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 94.6 KB

In [6]:
train_data.describe()

,beds,baths,size,lot_size,zip_code,price
count,2016.000000,2016.000000,2016.000000,1669.000000,2016.000000,2.016000e+03
mean,2.857639,2.159970,1735.740575,3871.059694,98123.638889,9.636252e+05
std,1.255092,1.002023,920.132591,2719.402066,22.650819,9.440954e+05
min,1.000000,0.500000,250.000000,0.230000,98101.000000,1.590000e+05
25%,2.000000,1.500000,1068.750000,1252.000000,98108.000000,6.017500e+05
50%,3.000000,2.000000,1560.000000,4000.000000,98117.000000,8.000000e+05
75%,4.000000,2.500000,2222.500000,6000.000000,98126.000000,1.105250e+06
max,15.000000,9.000000,11010.000000,9998.000000,98199.000000,2.500000e+07

In [7]:
train_data.isnull().sum()

beds          0
baths         0
size          0
lot_size    347
zip_code      0
price         0
dtype: int64

#### Fill NaN values

In [8]:
# train_data['lot_size'].fillna(np.random.uniform(1000, 9999, 1)[0], inplace=True)
train_data['lot_size'].fillna(0, inplace=True)

In [9]:
train_data.isnull().sum()

NameError: name 'test_data' is not defined

In [ ]:
train_data.columns

:

#### EDA(Exploratory Data Analysis)

In [ ]:
sns.pairplot(train_data)

:

In [ ]:
sns.displot(train_data['price'])

:

In [ ]:
sns.heatmap(train_data.corr())

:

In [ ]:
train_data

:

#### Split testing data

In [ ]:
y_train = train_data['price']
y_train.head()

:

In [ ]:
X_train = train_data.iloc[:, :-1]
X_train.head()

:

### Test Data

#### Import CSV

In [ ]:
test_data = pd.read_csv('datasets/house_price_dataset/test.csv')
test_data.head()

:

#### Drop Categorical Columns

In [ ]:
test_data.drop(['size_units', 'lot_size_units'], axis=1, inplace=True)

:

In [ ]:
test_data.head()

:

In [ ]:
test_data.tail()

:

In [ ]:
test_data.info()

:

In [ ]:
test_data.describe()

:

In [ ]:
test_data.isnull().sum()

:

#### Fill NaN values

In [ ]:
test_data['lot_size'].fillna(0, inplace=True)

:

#### EDA(Exploratory Data Analysis)

In [ ]:
sns.pairplot(test_data)

:

In [ ]:
sns.displot(test_data['price'])

:

In [ ]:
sns.heatmap(test_data.corr())

:

#### Split testing data

In [ ]:
y_test = test_data['price']
y_test.head()

:

In [ ]:
X_test = test_data.iloc[:, :-1]
X_test.head()

:

### Split Data in traning & testing

In [ ]:
# from sklearn.model_selection import train_test_split

:

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

:

In [ ]:
X_train.shape

:

In [ ]:
y_train.shape

:

In [ ]:
X_test.shape

:

In [ ]:
y_test.shape

:

In [ ]:
from sklearn.linear_model import LinearRegression

:

In [ ]:
lm = LinearRegression()

:

In [ ]:
lm.fit(X_train, y_train)

:

## Predictions

In [ ]:
predictions = lm.predict(X_test)

:

In [ ]:
predictions.shape

:

In [ ]:
plt.scatter(y_test, predictions)

:

In [ ]:
sns.displot((y_test-predictions), bins=50)

:

## Model R2 Score

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

:

In [ ]:
score=r2_score(y_test, predictions)
print('r2 socre is: ', score)
print('mean_sqrd_error is: ', mean_squared_error(y_test, predictions))
print('root_mean_squared error of is:', np.sqrt(mean_squared_error(y_test, predictions)))

:

## Visualize Predictions

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predictions': predictions})
df

:

: